
<section class="m ">
    <div class="contact text-center pt-5 mt-3">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder">conatct section</h2>
        <div class="d-flex align-items-center justify-content-center mb-3">
            <div class="line me-3" ></div>
            <i class="fa-solid fa-star"></i>
            <div class="line ms-3" ></div>
        </div>
    </div>
    <form novalidate="" action="" class="w-50 p-3 mx-auto mt-5 ng-untouched ng-pristine ng-valid">
        <label for="userName" [ngClass]="{ '__top': !userNameValue }" class="position-relative top-0">
            userName :
        </label>
        <input (input)="handleUserNameInput($event)" id="userName" type="text" placeholder="userName" name="userName"
            class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
    
        <label for="userAge" [ngClass]="{ '__top': !userAgeValue }" class="position-relative top-0 __top">
            userAge : 
        </label>
        <input (input)="handleUserAgeInput($event)" id="userAge" type="number" placeholder="userAge" name="userName"
            class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
        <label for="userEmail" [ngClass]="{ '__top': !userEmailValue }" class="position-relative top-0 __top">
            userEmail : 
        </label>
        <input (input)="handleUserEmailInput($event)" id="userEmail" type="email" placeholder="userEmail" name="userName"
            class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
        <label for="userPassword" [ngClass]="{ '__top': !userPasswordValue }" class="position-relative top-0 __top">
            userPassword : 
        </label>
        <input (input)="handleUserPasswordInput($event)" id="userPassword" type="password" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
            <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
    </form>
</section>